@{
    ViewData["Title"] = "İletişim";
}
<div class="container mt-2">
        <h1>Bizimle iletişime geç</h1>
        <p>Geliştirebileceğimiz başka ne gibi özellikler var?</p>
        <form>
            <div class="form-group">
                <label for="exampleInputName">Ad</label>
                <input type="text" class="form-control" id="exampleInputName" placeholder="Adınız">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail">E-posta</label>
                <input type="text" class="form-control" id="exampleInputEmail" placeholder="E-posta">
            </div>
            <div class="form-group">
                <label for="exampleMessage">Mesajınız</label>
                <textarea class="form-control" id="exampleMessage" rows="3" placeholder="Mesajınızı giriniz..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Gönder</button>
        </form>

    </div>