@{
  ViewData["Title"] = "Ana Sayfa";
}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Yeni bir dünyaya ilk adımını at!</h1>
      <p class="col-lg-10 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, ex inventore et
        aperiam possimus ad dolores non iusto, quo qui, assumenda cum ipsam adipisci perferendis laborum. At ut
        reiciendis voluptates.
      </p>
    </div>
    @await Html.PartialAsync("_LoginPartial")
